<div class="button-row">
    <button mat-flat-button class="primary" (click)="makeButtonActive(relationship)" [id]="relationship?.name">
        {{relationship?.name}}
    </button>

    <button mat-flat-button class="secondary" *ngFor="let children of relationship?.children;" [id]="children?.name"
        (click)="makeButtonActive(children)">{{children?.name}}</button>
</div>