<div class="headers-container">
  <ng-container *ngIf="$summary | async as summary">
    <div *ngFor="let h of summary" class="headers mat-elevation-z4">
      <small>{{h.header}}</small>
      <h1>{{h.value | currency:'USD':'symbol':'1.0-0' }}</h1>
    </div>
  </ng-container>
</div>

<div class="relationship-section" *ngIf="$relationshipObject | async as object">

  <app-entity-filter [relationship]="object?.relationship" (entityChange)="displayDialog($event)"></app-entity-filter>

  <table mat-table [dataSource]="object?.summary.groupingLookupRef | orderBy:'name'">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox></mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="2020_revenue">
      <th mat-header-cell *matHeaderCellDef> Revenue </th>
      <td mat-cell *matCellDef="let element"> {{20000 | currency: 'USD'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{400000 | currency: 'USD'}} </td>
    </ng-container>


    <ng-container matColumnDef="2020_roe">
      <th mat-header-cell *matHeaderCellDef> 2020 ROE </th>
      <td mat-cell *matCellDef="let element"> 8.04% </td>
      <td mat-footer-cell *matFooterCellDef> 8.04% </td>
    </ng-container>


    <ng-container matColumnDef="ytd_revenue">
      <th mat-header-cell *matHeaderCellDef> Revenue </th>
      <td mat-cell *matCellDef="let element"> {{20000 | currency: 'USD'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{100000 | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="ytd_roe">
      <th mat-header-cell *matHeaderCellDef> YTD ROE </th>
      <td mat-cell *matCellDef="let element"> 8.04% </td>
      <td mat-footer-cell *matFooterCellDef> 8.04%</td>
    </ng-container>

    <ng-container matColumnDef="2021_revenue">
      <th mat-header-cell *matHeaderCellDef> Revenue </th>
      <td mat-cell *matCellDef="let element"> {{20000 | currency: 'USD'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{100000 | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="2021_roe">
      <th mat-header-cell *matHeaderCellDef> 2021 ROE </th>
      <td mat-cell *matCellDef="let element"> 8.04% </td>
      <td mat-footer-cell *matFooterCellDef> 8.04% </td>
    </ng-container>

    <ng-container matColumnDef="2022_revenue">
      <th mat-header-cell *matHeaderCellDef> 2022 Revenue </th>
      <td mat-cell *matCellDef="let element"> {{20000 | currency: 'USD'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{100000 | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="2022_roe">
      <th mat-header-cell *matHeaderCellDef> 2022 ROE </th>
      <td mat-cell *matCellDef="let element"> 8.04% </td>
      <td mat-footer-cell *matFooterCellDef> 8.04% </td>
    </ng-container>

    <ng-container matColumnDef="lifetime_revenue">
      <th mat-header-cell *matHeaderCellDef> Lifetime Revenue </th>
      <td mat-cell *matCellDef="let element"> {{20000 | currency: 'USD'}} </td>
      <td mat-footer-cell *matFooterCellDef> {{100000 | currency: 'USD'}} </td>
    </ng-container>

    <ng-container matColumnDef="lifetime_roe">
      <th mat-header-cell *matHeaderCellDef> Lifetime ROE </th>
      <td mat-cell *matCellDef="let element"> 8.04% </td>
      <td mat-footer-cell *matFooterCellDef> 8.04% </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>