.headers-container {
    display: flex;

    .headers {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 16px;
        padding: 16px;
        border-radius: 8px;
        width: 100%;
        background-color: white;
    }

    small {
        color: grey;
        font-size: 1em;
    }

    h1 {
        margin-top: 5px;
        font-weight: 600;
    }
}

.relationship-section {
    background-color: white;
    margin: 0px 12px 0px 12px;
    padding: 12px;
}

.mat-table {
    width: 100%;
    margin-top: 12px;

    .table-header {
        background-color: azure;
    }

    th {
        font-weight: bold;
        font-size: 1.2rem;
        color: black;
    }

    .mat-footer-cell{
        color: white;
        background-color: grey;
    }
}
