<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedIndex">
  <mat-tab *ngFor="let p of pages">
    <ng-template mat-tab-label>
      <mat-icon>{{p.icon}}</mat-icon>
      {{p.title}}
    </ng-template>
  </mat-tab>
</mat-tab-group>